<!DOCTYPE html>
<http lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="document/head :: head_section">

    </head>

    <body>

    <div th:replace="document/content :: content_section_title"></div>

        <div class="login-page">
            <div class="title-font">
                Logowanie
            </div>
            <hr>
            <form th:action="@{/signin}" method="post">

                <div th:text="${message}" th:class="success"></div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="username" placeholder="login" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="password" placeholder="password" required="required"/>
                    </div>
                </div>

                <div th:text="${loginErrorMessage}" class="error"></div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm" style="color: white">
                        Logowanie
                    </button>
                </div>

            </form>
            Jeśli nie masz jeszcze konta, naduś przycisk na dole
            <br/>
            <a href="/register">
                <button class="btn btn-success btn-sm"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/signinoptions' ? 'active-2nd-option':''}">
                    <i> Rejestracja</i>
                </button>
            </a>
        </div>
        <div class="col-sm-2 col-md-2 form-group  ">
        </div>


    </div>
    </body>
</http>
