<div class="searching-menu" xmlns:th="http://www.thymeleaf.org" th:fragment="account_menu">
    <a href="/account-menu/account-index">
        <button class="btn btn-success btn-sm form-control grey-color-of-button"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-menu/account-index') ? 'active-2nd-option':''}">
            <i> Moje zamówienia</i>
        </button>
    </a>
    <a href="/account-menu/account-adresses">
        <button class="btn btn-success btn-sm form-control grey-color-of-button"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-menu/account-adresses') ? 'active-2nd-option':''}">
            <i> Adresy dostaw</i>
        </button>
    </a>
    <a href="/account-menu/account-invoice-data">
        <button class="btn btn-success btn-sm form-control grey-color-of-button"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-menu/account-invoice-data') ? 'active-2nd-option':''}">
            <i> Dane do faktur</i>
        </button>
    </a>
    <a href="/account-menu/account-data">
        <button class="btn btn-success btn-sm form-control grey-color-of-button"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-menu/account-data') ? 'active-2nd-option':''}">
            <i> Moje dane</i>
        </button>
    </a>
    <a href="/account-menu/admin">
        <button class="btn btn-success btn-sm form-control grey-color-of-button"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-menu/admin') ? 'active-2nd-option':''}">
            <i> Panel administratora</i>
        </button>
    </a>
</div>
