<div class="menu" xmlns:th="http://www.thymeleaf.org" th:fragment="menu_section"
>
    <nav class="menu">
        <ul class='menu'>
            <!--        <li>-->
            <!--            <a href="/" class="shop-name">-->
            <!--                    Sklep Optyczny-->
            <!--            </a>-->
            <!--        </li>-->
            <li>

                <a
                   th:classappend="${#httpServletRequest.getRequestURI() == '/' && #request.getQueryString()== null ? 'active':''}"
                   href="/">
                    <i class="fas fa-home"></i>
                    <i th:text="#{menu.home_page}"></i>
                </a>
            </li>
            <li>
                <a th:href="@{/}" >
                    <i th:text="Ankiety"></i>
                </a>
            </li>
            <li>
                <a th:href="@{/}" >
                    <i th:text="Wnioski"></i>
                </a>
            </li>
            <li>
                <a th:href="@{/}" >
                    <i th:text="Zadawanie pytań"></i>
                </a>
            </li>

            <!--        <li>-->
            <!--            <div th:if="${#httpServletRequest.getQueryString() ==null}">-->
            <!--                <a-->
            <!--                        th:href="@{/(glassesType=eyeglasses)}" th:text="#{menu.prescription_glasses}">-->
            <!--                </a>-->
            <!--                <a-->
            <!--                        th:href="@{/(glassesType=sunglasses)}" th:text="#{menu.sunglasses}">-->
            <!--                </a>-->
            <!--            </div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <a th:if="${#httpServletRequest.getQueryString() !=null}">-->
            <!--                <a-->
            <!--                        th:classappend="${#request.getQueryString().contains('eyeglasses') ? 'active':''}"-->
            <!--                        th:href="@{/(glassesType=eyeglasses)}" th:text="#{menu.prescription_glasses}">-->
            <!--                </a>-->
            <!--                <a-->
            <!--                        th:classappend="${#request.getQueryString().contains('sunglasses') ? 'active':''}"-->
            <!--                        th:href="@{/(glassesType=sunglasses)}" th:text="#{menu.sunglasses}">-->
            <!--                </a>-->
            <!--            </a>-->
            <!--        </li>-->
            <li>
                <a
                        th:text="#{menu.add_glasses}"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/add-glasses' ? 'active':''}"
                        href="/add-glasses"
                        th:if="${#request.isUserInRole('ADMIN')}">
                </a>
            </li>
            <li>
                <a href="/account-menu/account-index"
                   th:text="#{menu.my_account}"
                   th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}"
                   th:classappend="
                   (${#httpServletRequest.getRequestURI().startsWith('/account-menu') ? 'active':''})">
                </a>
            </li>
            <li>
                <a href="/api/v1/glasses/download/file/xls/glasses.xls"
                   th:text="#{menu.download_glasses_database}" th:if="${#request.isUserInRole('ADMIN')}">
                </a>
            </li>
        </ul>
    </nav>

</div>
