<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="forms_table">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered" style="color: white; background-color: black; opacity: 0.7">
                <tr class="active">
                    <th>Kształt</th>
                </tr>
                <tr th:each="m : ${forms}">
                    <td th:text="${m.getForm()}"></td>
                    <td>
                        <form action="/deleteform" method="get">
                            <input type="hidden" th:value="${m.getForm()}" name="forms">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
