
<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="searched_glasses_table">
    <div class="row">
        <div class="col-sm" th:if="${glasses != null}">
            <table class="table table-bordered" style="color: white; background-color: black; opacity: 0.7">
                <tr class="active">
                    <th>Zdjęcie</th>
                    <th>Numer id</th>
                    <th>Typ</th>
                    <th>Marka</th>
                    <th>Kształt</th>
                    <th>Płeć</th>
                    <th>Polaryzacja</th>
                    <th>Szerokość</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="p : ${glasses}">
                    <td><img th:src="@{${p.getGlassesImage()}}" style="height: 40%; width: 40%"></td>
                    <td th:text="${#numbers.formatInteger(p.getGlassesNumber(), 1)}"></td>
                    <td th:text="${p.getGlassesType()}"></td>
                    <td th:text="${p.getGlassesMarks()}"></td>
                    <td th:text="${p.getForm()}"></td>
                    <td th:text="${p.getGlassesGender()}"></td>
                    <td th:text="${p.getPolarization()} ? 'Tak' : 'Nie'"></td>
                    <td th:text="${#numbers.formatInteger(p.getWidthOfTheLens(), 1)} + mm"></td>
                    <td th:text="${#numbers.formatDecimal(p.getPrice(), 1,2, 'POINT')} + zl">
                </tr>
            </table>
        </div>
    </div>
</div>
