<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>


<div class="row col-sm-10 col-md-10 form-group">

    <div class="col-sm-2 col-md-2 form-group border-between-rows">
        <div th:replace="document/account-menu :: account_menu"></div>
    </div>
    <div class="container col-sm-8 col-md-8 form-group">
        <div class="row">
            <div>
                <form th:object="${adresses}" th:action="@{${action}}" method="post">
                    Imię
                    <div class="form-row">
                        <div class="col-sm-10 col-md-8 form-group">
                            <input type="text" th:field="*{name}" required name="name" placeholder="Imię" class="form-control" >
                        </div>
                    </div>
                    Nazwisko
                    <div class="form-row">
                        <div class="col-sm-10 col-md-10 form-group">
                            <input type="text" th:field="*{surname}" required name="surname" placeholder="Nazwisko" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        Dostawa do firmy
                        <div class="col-sm-1 col-md-1 form-group">
                            <input type="checkbox" th:field="*{deliveryToTheCompany}" name="deliveryToTheCompany" th:checked="${flag}">

                        </div>
                        <div class="col-sm-9 col-md-9 form-group">
                            <input type="text" th:field="*{firmName}" name="firmName" placeholder="Nazwa firmy" class="form-control">
                        </div>
                    </div>
                    Kraj dostawy
                    <div class="form-row">
                        <div class="col-sm-6 col-md-6 form-group">
                            <td>Wybierz kraj:</td>
                            <td>
                                <select type="text" name="country" required>
                                    <option th:each="c : ${countries}"
                                            th:value="${c.getName()}"
                                            th:text="${c.getName()}"
                                            th:field="*{country}">
                                    </option>
                                </select>
                            </td>
                        </div>
                        <div class="col-sm-3 col-md-3 form-group">
                            <input type="text" th:field="*{town}" required name="town" placeholder="Miasto" class="form-control">
                        </div>
                        <div class="col-sm-3 col-md-3 form-group">
                            <input type="text" th:field="*{zipCode}"  required name="zipCode" placeholder="Kod-pocztowy" class="form-control">
                        </div>
                    </div>

                    Ulica
                    <div class="form-row">
                        <div class="col-sm-8 col-md-8 form-group">
                            <input type="text" th:field="*{street}" required name="street" placeholder="Ulica:" class="form-control">
                        </div>
                        <div class="col-sm-4 col-md-4 form-group">
                            <input type="text" th:field="*{apartmentNumber}" required name="apartmentNumber" placeholder="Nr domu/nr lokalu"
                                   class="form-control">
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}" name="id">

                    <div class="form-row">
                        <div class="col-sm-10 col-md-10 form-group">
                            <button type="submit" class="btn btn-success btn-sm form-control">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 form-group border-between-rows">

    </div>

</div>

</body>

</html>





