<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="document/head :: head_section"></head>
<body>
<div th:replace="document/content :: content_section_title"></div>

<div class="survey-page">

    <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Masz pytanie? Napisz!</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Jeśli masz jakieś pytania, jesteśmy tu aby na nie
            odpowiedzieć.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form th:action="@{/sendMessage}"  method="POST">

                    <!--Grid row-->
                    <div class="row"  th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Twoje imię</label>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email_sender" name="email_sender" class="form-control">
                                <input type="number" id="id_recipient" placeholder="2" value="2"  name="id_recipient" hidden class="form-control">
                                <label class="">Twój email</label>
                            </div>
                        </div>


                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <div class="row" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email_sender" th:value="${email_sender}" name="email_sender" hidden class="form-control">
                                <input type="number" id="id_recipient" value="2" name="id_recipient" hidden class="form-control">
<!--                                <label for="email" class="">Twój email</label>-->
                            </div>
                        </div>
                    </div>



                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Temat</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="text_msg" name="text_msg" rows="2"
                                          class="form-control md-textarea"></textarea>
                                <label for="text_msg">Twoja wiadomość</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">
                                <i  aria-hidden="true"></i>
                                Wyślij
                            </button>
                        </div>
                    </div>
                </form>


                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>można wpisać adres</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>tutaj numer do kogoś</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>email VW</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->

</div>
</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>